<!--#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon May 27 10:42:00 2019

@author: l
"""-->

<html>
    <head>
        <title>Fears</title>
    </head>
    <form>
      <input type="text" name="publication" placeholder="search" />
      <input type="submit" value="Submit" />
    </form>
    <body>
        <h1>Fears</h1>
        <h2>A hard rain is gonna fall</h2>
        <p>City: <b>{{weather.city}}</b></p>
        <p>{{weather.description}} |{{weather.temperature}&#8457</p>
        <h2>Fears</h2>
        {% for article in articles %}
        <b><a href="{{ article.link }}">{{ article.title }}</a></b><br />
        <i>{{ article.published }}</i><br />
        <p>{{ article.summary }}</p>
        <hr />
        {% endfor %}
    </body>
</html>